.index_top{
    width: 100%;
    height: 60px;
    color: white;
    background-color: aquamarine;
}
.index_mid{
    width: 100%;
    height: 1500px;
    color: black;
    background-color:aquamarine;
    padding:50px;
    margin:0px;
}
.homepage{
    float: left;
    width: 70px;
    height: 60px;
    text-align: center;
    /* 想要设置居中，必须设置长和宽，包括div的长和宽以及div包含内容的长和宽 */
    line-height: 60px;
}
.homepage1{
    float: right;
    width: 70px;
    height: 60px;
    text-align: center;
    /* 想要设置居中，必须设置长和宽，包括div的长和宽以及div包含内容的长和宽 */
    line-height: 60px;  
}
.homepage2{
  float:left;
  width: 170px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  text-indent: 2em;
  padding: 0px;
  margin: 40px 280px 50px 50px ;
}

.homepage3{
    float:left;
    width: 170px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    text-indent: 2em;
    padding: 0px;
    margin: 40px 280px 50px 50px ;
  }
  
.logo{
    float: left;
    width: 60px;
    height: 60px;
}
.top_text{
    width: 70px;
    height: 60px;
   float: left;
   line-height: 60px;
}
.top_ui{
    float: left;
}
.homepage:hover{
    background-color: white;
    color: black;
}
a:hover{
    color: black;
}
