html,body{width:100vw;}
div.layout{
    width:100%;
    background-color: #e3e3e3;
}
.index_div{
    width: 100%;
    margin: 0;
}
.index_top{
    width: 100%;
    height: 60px;
    color: white;
    background-color: aquamarine;
    /* 设置sticky定位，粘性定位*/
    position: sticky;
    margin: 8px;
    top: 0;
}
.index_main{
    float: left;
    width: 100%;
}
div.index_mid{
    /* float: left; */
    color: black;
    width:100%;
    
    overflow: scroll; 
}
div.index_text{
    /* float: left; */
    width: 60%;
    height: 150px;
    min-width: 600px;
    /* text-align: center; */
    border: 1px solid blue;
    margin: 0 auto;
    margin-bottom: 8px;

}
.messageleft{
    float: left;
    width: 80%;
    height: 150px;
}
.messageright{
    float: right;
    width: 20%;
    height: 150px;
}
.messageleft_title{
    width: 98%;
    height: 30%;
    margin-top: 10px;
    margin-left: 8px;
}
.messageleft_words{
    width: 98%;
    height: 58%;
    margin-top: 10px;
    margin-left: 8px;
}
.messageright_air{
    width: 98%;
    height: 75%;
}
.messageright_words{
    width: 98%;
    height: 25%;
    font-size: 11px;
}
p{
    margin: 0;
    padding: 0;
}
div.homepage{
    float: left;
    width: 70px;
    height: 60px;
    text-align: center;
    /* border: solid; */
    /* 想要设置居中，必须设置长和宽，包括div的长和宽以及div包含内容的长和宽 */
    line-height: 60px;
}
.text_geng:hover {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .2);
    border-color: #eee;
    transition: all .2s ease-in-out;
  }

.logo{
    float: left;
    width: 60px;
    height: 60px;
}
.top_text{
    width: 70px;
    height: 60px;
   line-height: 60px;
}
.homepage:hover{
    background-color: white;
    color: black;
}
a:hover{
    color: black;
}