/*清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0
}
/*让所有斜体 不倾斜*/
em,
i {
    font-style: normal;
}
/*去掉列表前面的小点*/
li {
    list-style: none;
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
    border: 0;  /*ie6*/
    vertical-align: middle;
}
/*让button 按钮 变成小手*/
button {
    cursor: pointer;
}
/*取消链接的下划线*/
a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    color:red;
    text-decoration: none;
}


button,
input {
    /*font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;*/
    /*取消轮廓线 蓝色的*/
    outline: none;
}

body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666
}

.hide,
.none {
    display: none;
}
/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}
.focus {
    position: relative;
    width: 721px;
    height: 455px;
    background-color: white;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 400px;
    
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}

.focus ul li {
    float: left;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}
.arrow-l :left{
    color:white;
    text-decoration: none;
}
.arrow-r :left{
    color:white;
    text-decoration: none;
}

.arrow-r {
    right: 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
    margin-left: 300px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /*background-color: #fff;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
}

.current {
    background-color: #fff;
}

.bottomword{
    text-decoration: none;
    font-size: 14px;
    color:black;
}
.bottomword:hover{
color:blue;
text-decoration:none;
}
summary {
    font-size: 1rem;
    font-weight: 600;
    background-color: #f3f3f3;
    color: #000;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    text-align: center;
   
}
details {
   padding-top:10px;
    background: url(./imag./background1.png);
}
details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px
        
    }

    100% {
        opacity: 1;
        margin-top: 0px
    }
}

details>summary::after {
    position: absolute;
    content: "+";
    right: 20px;
}

details[open]>summary::after {
    position: absolute;
    content: "-";
    right: 20px;
}

details>summary::-webkit-details-marker {
    display: none;
}


img {
    display: block;
}

ul {
    list-style: none;
}

.king {
    width: 582px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: url(images/bg.png) no-repeat;
    overflow: hidden;
    margin-left: 500px;
    background-color: #f3f3f3;
    padding-bottom: 10px;
    padding-top:20px;
    padding-left:20px;
}

.king ul {
    overflow: hidden;
}

.king li {
    position: relative;
    float: left;
    width: 69px;
    height: 69px;
    margin-right: 10px;
}

.king li.current {
    width: 224px;
}

.king li.current .big {
    display: block;
}

.king li.current .small {
    display: none;
}

.big {
    width: 224px;
    display: none;
}

.small {
    position: absolute;
    top: 0;
    left: 0;
    width: 69px;
    height: 69px;
    border-radius: 5px;
}
.wrap {
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    width: 950px;
    height: 440px;
    padding: 10px 0 0 10px;
    background: white;
    overflow: hidden;
    border: 5px solid black;
}

.wrap li {
    float: left;
    margin: 0 10px 10px 0;
}

.wrap img {
    display: block;
    border: 0;
}
.lifeservice {
    overflow: hidden;
    height: 650px;
    /*border: 1px solid #ccc;*/
    /*border-top: none;*/
    padding-left:380px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 5px solid #f2f2f2;
}

.lifeservice ul {
    width: 800px;
}

.lifeservice li {
    position: relative;
    float: left;
    width: 252px;
    height: 200px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.lifeservice li a {
    display: block;
    /* overflow: hidden; 解决i 引起的 外边距塌陷合并的问题*/
    overflow: hidden;
    height: 100%;
}

.lifeservice li p {
    text-align: center;
}





.service_ico_feiji {
    width: 26px;
    background-position: -78px -16px;
}

