html,body{width:100%;}
div.layout{
    width:100%;
    background-color: #e3e3e3
}
.index_div{
    width: 100%;
    margin: 0;
}
.index_top{
    width: 100%;
    height: 60px;
    color: white;
    background-color:white;
    /* 设置sticky定位，粘性定位*/
    position: fixed;
    /* margin: 8px;  */
    top: 0;

    min-width:1200px;
}
.index_main{
    background-color: whitesmoke;
    float: left;
    width: 100%;

    /* height:100%; */
    /* overflow: auto;  */
    /* display: block; */
}
.index_mid{
    float: left;
    color: black;
    width:70%;
    /* min-width:1200px; */
    background-color:whitesmoke;
    /* position:absolute;
    margin:auto;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0; */
    
    margin-top:65px;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 

    /* overflow: scroll; */
}
div.index_text{
    float: left;
    width: 22%;
    min-width:221px;
    /* margin-left: 10px; */
    text-align: center;
}
.text_geng{
    float: left;
    width: 100%;
    color:black;
    background-color:white;
    border-radius: 10px 10px 10px 10px;
}
p.text_wenzi{
    text-align:left;
    text-indent:2em;
}
div.homepage{
    float: left;
    width: 90px;
    height: 60px;
    text-align: center;
    /* border: solid; */
    /* 想要设置居中，必须设置长和宽，包括div的长和宽以及div包含内容的长和宽 */
    line-height: 60px;
}
.homepage2{
    float:left;
    width: 170px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    text-indent: 2em;
    margin: 20px;
    background-color:white;
    padding: 10px;
    box-shadow: none;
}
.index_bottom{
    width: 100%;
    background-color: rgb(186, 184, 235);
    text-align: right;
}
.text_geng:hover {
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, .4);
    border-color: #eee;
    transition: all .2s ease-in-out;
  }
.text_geng1:hover {
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, .4);
    border-color: #eee;
    transition: all .2s ease-in-out;
  }
.logo{
    float: left;
    width: 60px;
    height: 60px;
}
.top_text{
    
    width: 90px;
    height: 60px;
    line-height: 60px;
    color:blue;
}
.homepage:hover{
    background-color: white;
    color: black;
}
.text_tpye_blod:hover{
    color: black;
}
a{
    text-decoration: none;
    color: black;
    /*鼠标未放置在超链接上时，超链接上无下划线*/
}
.text_tpye_blod{
     color:blue;
}
.search_input{
    margin-top:10px;
    width:402px;
    height:30px;
    border: 2px solid red;
    border-radius: 10px 0px 0px 10px;
}
.hotwords{
    width:400px;
    font-size:5px;
    color:blue;
}
.hotwords:hover{
    color:red;
}
.search_button{
    float:left;
    width:70px;
    height:60px;
    margin-top:10px;
}
.search_button button{
    width:60px;
    height:34px;
    background-color:red;
    border:0;
    color:white;
    border-radius: 0px 10px 10px 0px;
}
.search_button button:hover{
    box-shadow: 7px 7px 4px -6px rgba(0, 0, 0, .4);
}
.search_input input{
    width:403px;
    height:30px;
    border:0;
    outline:none;
    border-radius: 10px 0px 0px 10px;
}
div.homepage1{
    float: left;
    width: 405px;
    height: 60px;
}
a:hover{
    color: rgb(255, 0, 0);
}
a.index_bottom{
    color:blue;
}
a.index_bottom:hover{
    color:black;
}
.top_text .dt{
    width:100%;
    height:100%;
    text-align:center;
    display:inline-block;
    color:blue;
}
.homepage .top_text .dt:hover{
    background-color: white;
}
.top_text .dd{
    width:90px;
    height:60px;

    display:none;
   
}
.top_text:hover .dd{
    display:block;
    background-color:white;
}
.dd a{
    color:blue;
}
.homepage .dd:hover{
    background-color:white;
}
.dd a:hover{
    color:black;
}


div.index_more{
    height: 60px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content:center;
    align-items:center;
}
.index_button{
    text-align:center;
    height:20px;
    width:200px;

}

.footer{
    width: 100%;
    color: rgb(178,178,178);
    overflow: auto; 
}
.footer_row{
    width: 100%;
    height:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(178,178,178);
    display: flex;
    flex-direction: row;

}
.footer_left{
    margin-left: 50px;
}
.footer_right{
    margin-right: 100px;
}
a.item{
    width: 276px;
    padding: 20px;
}
#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.b0ttomword{
    text-decoration: none;
}
.bottomword:hover{
color:blue;
text-decoration:none;
}
.first{
    font:12px arial;
    overflow-y: scroll;
    color:black;
    padding-top: 50px;
}
.xcp-publish{
    padding-bottom:20px;
}
.xcp-publish-title {
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    line-height: 1;
    color: #000;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.xcp-publish-main {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding-top: 20px;
}
.xcp-publish-main .right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.x-interact-publish {
    width: 100%;
    font-size: 13px;
    color: #222;
}
.xcp-publish-main .left {
    padding-top: 13px;
    width: 64px;
}
.x-avatar {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
}
.x-avatar-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(https://b.bdstatic.com/searchbox/icms/searchbox/img/xcp-bd-logo.png) 50% 50% no-repeat;
    background-size: 50% 50%;
}
.x-avatar-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.xcp-publish-main .right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.x-interact-publish {
    width: 50%;
    font-size: 13px;
    color: #222;
}
.x-interact-publish-cont, .x-interact-publish-cont-topic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    background: #f5f5f6;
    border-radius: 12px;
}
.x-interact-publish .text-area {
    padding: 16px 16px 23px;
    width: 100%;
    resize: none;
    background: #f5f5f6;
    border-radius: 12px;
    border: none;
    color: #1f1f1f;
}
.x-interact-publish-panel-center {
    padding-top: 4px;
}
.x-interact-publish-opt {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8px;
}
.x-interact-publish .emoj {
    background-image: url(https://b.bdstatic.com/searchbox/icms/searchbox/img/xib-emoj-btn2.png);
}
.x-interact-publish .no-radio .radio {
    display: none;
}
.x-interact-publish .radio:not(:first-child) {
    margin-left: 30px;
}
.x-interact-publish .radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.x-interact-publish .extra {
    position: absolute;
    right: 90px;
    color: #858585;
}
.x-interact-publish .send {
    position: absolute;
    top: 0;
    right: 363px;
    width: 70px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #4e6ef2;
    border-radius: 15px;
    cursor: pointer;
}
.x-interact-publish .emoj-panel {
    background: #fff;
}
.xcp-list-title {
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    line-height: 1;
    color: #000;
}
.xcp-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 28px;
    font-size: 14px;
    color: #222;
}
.xcp-item .left {
    width: 64px;
}
.x-avatar {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
}


.x-avatar-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(https://b.bdstatic.com/searchbox/icms/searchbox/img/xcp-bd-logo.png) 50% 50% no-repeat;
    background-size: 50% 50%;
}
.x-avatar-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.xcp-item .right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 1%;
}
.user-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: PingFangSC-Regular;
    position: relative;
}
.user-bar-uname {
    font-family: PingFangSC-Semibold;
    font-size: 13px;
    color: #222;
}
.x-interact-rich-text {
    padding-top: 10px;
    font: 14px/22px PingFangSC-Regular;
    color: #222;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
}
.interact-bar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 8px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #9195a3;
}
.interact-bar-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.interact-bar-left .area {
    margin-left: 8px;
}
.interact-bar-left .delete, .interact-bar-left .report {
    display: none;
    margin-left: 10px;
    cursor: pointer;
}
.interact-bar-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #222;
}
.interact-bar-right .reply {
    cursor: pointer;
}
.interact-bar-right .icon {
    width: 20px;
    height: 20px;
    margin-right: 500px;
}
.interact-bar-right .like {
    cursor: pointer;
    margin-right: 500px;
}
.interact-bar-right .like-icon {
    background-image: url(https://b.bdstatic.com/searchbox/icms/searchbox/img/xcp-like.png);
}
.interact-bar-right .icon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.is-second .xcp-item {
    padding-top: 28px;
}
.interact-bar-right .like, .interact-bar-right .reply {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.interact-bar-right .reply-icon {
    background-image: url(https://b.bdstatic.com/searchbox/icms/searchbox/img/xcp-reply.png);
}
.text-title {
    font-size: 36px;
    line-height: 50px;
    padding-top: 35px;
    padding-bottom: 24px;
    font-weight: 600;
    font-family: Microsoft Yahei,微软雅黑,宋体;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-text{
    padding-top: 26px;
    padding-bottom: 16px;
    border-bottom: 1px solid #f2f2f2;
}
.text1{
    width:80%;
}
.text-text-text{
    font-size: 18px;
    color: #222;
    line-height: 30px;
}
.picture1 {
        margin-top: 22px;
        margin-bottom:22px;
}
